body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
}

address {
  font-style: normal;
}

h1 {
  display: none;
}

img {
  max-width: 50%;
  height: auto;
}
